
.first-p{
    text-align: center;
}

.second-p{
    color: aliceblue;
    text-align: center;
}

.third-p{
    color: rgb(14, 106, 255);
    text-align: center;
}
.premier-h1{
    text-align: center;
}
.first-h1{
    text-transform: uppercase;
    font-size: 27px;
    text-align: center;
}
.second-h1{
    font-size: 50px;
    text-align: center;
    color: rgb(247, 249, 251);
}
span{
    color: orange;
}
footer{
    background-color: black;
}
.first-section{
    background-color: rgba(203, 203, 203, 0.4);
}

.deus h2{
    font-size: 22px;
    text-align: center;
    border-bottom: solid 2px #12d895;
    padding-top: 5px;
    padding-bottom: 20px;
}
.first-a1 {
    color: white;
    border: solid 2px orange;
    border-radius: 4px;
    background: orange;
    width: 88px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
    /* margin-right: 19px; */
    margin-left: 172px;
}
.first-p2 {
    color: white;
    border: solid 2px orange;
    border-radius: 4px;
    background: orange;
    width: 88px;
    text-align: center;
    margin-left: 4px;
    margin-top: 20px;
    margin-bottom: 35px;
    margin-right: 32px;
}


h1.first-h1 {
    padding-top: 48px;
    margin-left: 5px;
}

.first-image{
    width: auto;
    height: 149px;
}

.section-one {
    background-image: url('images/full-main.png');
    height: 180px;
    width: 416px;
}
.first-span{
    color: gray;
}
.first-p3 {
    color: white;
    border: solid 2px rgb(34, 0, 255);
    border-radius: 13px;
    background: rgb(34, 0, 255);
    width: 23px;
    margin-left: 4px;
    margin-top: 20px;
    margin-bottom: 35px;
    margin-right: 19px;
}
article{
    background-image: url("images/full-main.png");
    border-radius: 10px;
    height: 180px;
    width: 416px;
}

.images-1 {
    margin-left: 121px;
}
h1{
    text-align: center;
}
.overlay{
    height: 180px;
    width: 159px;
    background: rgba(255, 255, 255, 0.7)
}
.first-h2{
    text-align: center;
}
.deus-h2{
    font-size: 20px;
    border-bottom: solid 2px #979191;
    padding-top: 5px;
    padding-bottom: 20px;
}
.nav-1{
    display: none;
}

@media screen and (min-width: 1024px) {

  .nav-1{
    display: initial;
}
.nav-2{
    display: none;
}
}

